
/* RGB */
$backgroundColor: rgb(71, 158, 184);
$inactiveTab: rgb(199, 203, 219);
$accentColorGray: rgba(121, 128, 134, 1);
$activeTab: rgba(248, 246, 247,0.7);
$accentcolorBlue: rgba(21, 30, 63, 1);

/*Text Colors */
$mainTextColor: rgba(21, 30, 63, 1);
$activeTextColor:rgb(0, 104, 155);
$highlightColor:rgb(66, 242, 255);
$hoverColor:rgba(247, 148, 29, 1);