
/* RGB */
$backgroundColor: rgba(46, 97, 113, 1);
$inactiveTab: rgb(153, 176, 186);
$accentColorGray: rgba(121, 128, 134, 1);
$activeTab: rgb(248, 246, 247);
$accentcolorBlue: rgba(21, 30, 63, 1);

/*Text Colors */
$mainTextColor: rgba(21, 30, 63, 1);
$activeTextColor:rgb(0, 104, 155);
$highlightColor:rgb(66, 242, 255);
$hoverColor:rgba(255, 255, 0, 1);