
/* RGB */
$backgroundColor: rgba(46, 97, 113, 1);
$inactiveTab: rgba(85, 111, 122, 1);
$accentColorGray: rgba(121, 128, 134, 1);
$activeTab: rgba(248, 246, 247, 1);
$accentcolorBlue: rgba(21, 30, 63, 1);

/*Text Colors */
$mainTextColor: rgba(21, 30, 63, 1);
$activeTextColor:rgba(0, 135, 204, 1);
$highlightColor:rgb(66, 242, 255);
$hoverColor:rgba(255, 255, 0, 1);